<footer class="footer">
  <small>
    Created By
    <a href="https://github.com/kunal-das">Kunal Das</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", 'https://www.facebook.com/kunal.das.351' %></li>
    </ul>
  </nav>
</footer>